@use './colors' as clr;

@mixin flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  @content;
}

@mixin gridCenter {
  display: grid;
  place-items: center;
}

@mixin buttonBefore($x, $y, $content) {
  &::before {
    content: $content;
    position: inherit;
    text-transform: uppercase;
    background: rgba($color: #000000, $alpha: 0.8);
    transform: translateY($y) translateX($x) scaleX(0);
    white-space: nowrap;
    padding: 0.52em;
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
    transform-origin: right;
    border-radius: 3px 0 0 3px;
    transition: transform 0.1s linear;
    transition-delay: 0.4s;
  }
  &:hover::before {
    transform: translateY($y) translateX($x) scaleX(1);
  }
}

@mixin btn {
  outline: none;
  border: none;
  cursor: pointer;
}

@mixin scrollbarFunctionality {
  // Retaining the scrolling functionality without the scroll-bars
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin layout {
  // for the layout  of watchScreen,channelScreen,searchScreen
  flex: 1;
  background: clr.$clr-screen;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

// mixin for the media query
@mixin mq($min, $max) {
  @media screen and (min-width: $min) and(max-width:$max) {
    @content;
  }
}
