$margin-top: 0.5em;
$br: 4px;

// CategoriesBar
$border: 1px solid lightgray;

$main-padding: 1.2em 1.5em;

$btn-padding: 0.8em;
$btn-border-radius: 3px;

// breakpoints
$bp-1440: 1440px;
$bp-1200: 1200px;
$bp-992: 992px;
$bp-768: 768px;
$bp-600: 600px;
$bp-450: 450px;
$bp-0: 0px;
