@use './mixins' as mxn;
@use './variables' as var;
@use './colors' as clr;

.categoriesBar {
  @include mxn.flex;
  overflow-x: scroll;
  padding: 0.8em 0;
  border-top: var.$border;
  border-bottom: var.$border;
  background: white;
  position: sticky;
  top: 0;
  z-index: 10;
  &::-webkit-scrollbar {
    display: none;
  }
  button {
    margin-left: 0.6em;
    padding: 0.4em 1em;
    background: clr.$clr-cat-bg;
    outline: none;
    border-radius: 150px;
    cursor: pointer;
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    &:hover {
      background: clr.$clr-cat-bg-hover;
    }
    &.active {
      background: clr.$clr-cat-active-bg;
      color: clr.$clr-cat-active-text;
      &:hover {
        background: clr.$clr-cat-active-bg-hover;
      }
    }

    p {
      font-size: 0.8rem;
      white-space: nowrap;
    }
  }
}
