@use './mixins' as mxn;

.categoriesBar {
  @include mxn.flex;
  gap: 0.5em;
  overflow-x: scroll;
  padding-bottom: 0.5em;
  // &::-webkit-scrollbar {
  //   display: none;
  // }
  button {
    padding: 0.2em 0.8em;
    background: transparent;
    outline: none;
    border-radius: 150px;
    cursor: pointer;
    border: 1px solid black;
    p {
      font-size: 0.9rem;
    }
  }
}
