@use './variables' as var;
@use './mixins' as mxn;

.channel {
  display: flex;
  align-items: center;
  padding: 1.5em 0;
  border-bottom: var.$border;
  cursor: pointer;

  &.channel--screen {
    cursor: unset;
  }

  #{&}__channelImage {
    flex: 0.33;
    img {
      display: block;
      object-fit: contain;
      height: 10em;
      border-radius: 50%;
      margin: 0 auto;
      &.channelScreen--image {
        border: 1px solid lightgray;
        height: 7em;
        @include mxn.mq(var.$bp-0, var.$bp-450) {
          height: 5em;
        }
      }
    }
  }
  #{&}__channelDetails {
    flex: 0.67;
    max-width: 600px;
  }
  #{&}__title {
    font-weight: 500;
  }
  #{&}__stats,
  #{&}__description {
    display: flex;
    font-size: 0.9rem;
    margin: 0.35em 0;
    color: rgba(90, 90, 90);
    & > * + * {
      margin-left: 0.2em;
    }
  }
}
