@use './mixins' as mxn;
@use './variables' as var;

.channelScreen {
  @include mxn.layout;
  padding: var.$main-padding;
  #{&}__title {
    margin: 0.5em 0;
    font-weight: 500;
    font-size: 1.2rem;
  }
  #{&}__videos {
    @include mxn.grid-layout;
  }
}
