@use './variables' as var;
.channel {
  display: flex;
  align-items: center;
  padding: 1.5em 0;
  border-bottom: var.$border;

  #{&}__channelImage {
    flex: 0.33;
    img {
      display: block;
      object-fit: contain;
      height: 10em;
      border-radius: 50%;
      margin: 0 auto;
    }
  }
  #{&}__channelDetails {
    flex: 0.67;
    max-width: 600px;
  }
  #{&}__title {
    font-weight: 500;
  }
  #{&}__stats,
  #{&}__description {
    display: flex;
    font-size: 0.9rem;
    margin: 0.35em 0;
    color: rgba(90, 90, 90);
    & > * + * {
      margin-left: 0.2em;
    }
  }
}
