@use './colors' as clr;
@use './mixins' as mxn;
@use './variables' as var;

.header {
  @include mxn.flex {
    justify-content: space-between;
  }
  padding: 0.2em 0.5em 0;
  @include mxn.mq(var.$bp-0, var.$bp-450) {
    padding: 0.2em 0;
  }
  z-index: 100;
  background-color: clr.$clr-white;

  #{&}__icon {
    color: clr.$clr-hdr-icon;
  }

  #{&}__iconBtn {
    @include mxn.mq(var.$bp-0, var.$bp-768) {
      display: none;
    }
  }

  #{&}__left {
    flex: 0.15;
    @include mxn.flex;
    & > a > svg {
      object-fit: contain;
      height: 1.05em;
      margin-left: 0.5em;
      @include mxn.mq(var.$bp-0, var.$bp-450) {
        height: 0.9em;
        margin-left: 0;
      }
    }
  }

  #{&}__center {
    flex: 0.7;
    .header__centerIn {
      @include mxn.flex {
        justify-content: center;
        border: 1px solid clr.$clr-hdr-sb-border;
        width: 60%;
        margin: 0 auto;

        @include mxn.mq(var.$bp-600, var.$bp-768) {
          width: 75%;
        }
        @include mxn.mq(var.$bp-450, var.$bp-600) {
          width: 85%;
          margin-left: 0.5em;
        }
        @include mxn.mq(var.$bp-0, var.$bp-450) {
          width: 90%;
        }
      }
      Input {
        flex: 1;
        border: none;
        outline: none;
        font-size: 0.9rem;
        padding: 0.3em 1em;
        &:focus {
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset, -1px 0px 2px rgba(0, 0, 0, 0.3);
        }
      }
      button {
        border: none;
        outline: none;
        width: 4.5em;
        cursor: pointer;
        background-color: clr.$clr-hdr-sb-btn-bg;
        svg {
          font-size: 1.3rem;
          color: clr.$clr-hdr-sb-btn;
        }
      }
    }
  }

  #{&}__right {
    flex: 0.15;
    @include mxn.flex;
    justify-content: flex-end;

    .header__icon {
      margin-right: 0.5em;
    }

    img {
      @include mxn.mq(var.$bp-0, var.$bp-450) {
        display: none;
      }
    }

    &.user {
      justify-content: space-around !important;
      .header__icon {
        margin-right: 0;
      }
    }
  }
}
