.homescreen__videos {
  padding: 1.2em 1.5em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  // .infinite-scroll-component__outerdiv {
  //   width: 100% !important;
  //   .infinite-scroll-component {
  //     width: 100%;
  //     display: flex;
  //     flex-wrap: wrap;
  //     gap: 1em;
  //   }
  // }
}
