@use './mixins' as mxn;
@use './variables' as var;

.login {
  height: 100%;
  @include mxn.gridCenter;

  #{&}__container {
    @include mxn.flex;
    flex-direction: column;
    border: 1.5px solid lightgray;
    padding: 1.5em;
    border-radius: var.$br;
    box-shadow: 0 2px 5px rgba($color: #000000, $alpha: 0.3);
    @include mxn.mq(var.$bp-768, var.$bp-992) {
      padding: 1.5em 1em;
    }
    @include mxn.mq(var.$bp-0, var.$bp-768) {
      padding: 3em 0em;
    }
    @include mxn.mq(var.$bp-0, var.$bp-425) {
      box-shadow: none;
      border: none;
    }
  }
  #{&}__title {
    font-size: 2.5rem;
    opacity: 0.75;
    @include mxn.mq(var.$bp-0, var.$bp-600) {
      font-size: 2rem;
    }
  }

  #{&}__logo {
    object-fit: contain;
    height: 4.5em;
    width: 4.5em;
    @include mxn.mq(var.$bp-0, var.$bp-600) {
      height: 3.5em;
      width: 3.5em;
    }
  }
  #{&}__googleLogo {
    object-fit: contain;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
    @include mxn.mq(var.$bp-0, var.$bp-600) {
      height: 1.2em;
      width: 1.2em;
    }
  }
  #{&}__button {
    padding: 0.75em 1.5em;
    margin-bottom: 0.8em;
    border: 1px solid;
    outline: none;
    background: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: var.$br;
    font-weight: 500;
    @include mxn.flex;
    box-shadow: 0px 0px 4px rgba($color: #000000, $alpha: 0.25);

    @include mxn.mq(var.$bp-0, var.$bp-600) {
      font-size: 0.75rem;
    }
  }
  #{&}__description {
    width: 75%;
    text-align: center;
    line-height: 150%;
    @include mxn.mq(var.$bp-0, var.$bp-600) {
      width: 50%;
      font-size: 0.85rem;
    }
  }
}
