@use './colors' as clr;

.searchScreen {
  flex: 1;
  padding: 0em 6em 2em;
  background: clr.$clr-screen;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  & > * + * {
    margin-top: 1.5em;
  }
}
