.sidebar {
  width: 220px;
  padding-right: 0.5em;
  & > hr {
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin: 0.5em 0;
  }
  & > p {
    padding: 0.5em 1.5em;
    font-size: 0.9rem;
  }
}
