@use './mixins' as mxn;
@use './colors' as clr;
@use './variables' as var;

.sidebarRow {
  @include mxn.flex;
  padding: 0.4em 1.2em;

  &:first-of-type {
    margin-top: var.$margin-top;
  }

  &:hover {
    cursor: pointer;
    background: clr.$clr-sbr-hover-bg;
  }

  &.selected {
    background: clr.$clr-sbr-hover-bg;
    svg {
      fill: clr.$clr-sbr-icon-selected;
    }
    .sidebarRow__title {
      color: clr.$clr-text-primary;
      font-weight: 700;
    }
  }
  svg {
    fill: clr.$clr-sbr-icon;
    margin-right: 0.9em;
    font-size: 1.5rem;
  }
  #{&}__title {
    flex: 1;
    font-weight: normal;
    font-size: 0.85rem;
    color: clr.$clr-sbr-icon;
  }
}
