@use './variables' as var;
@use './mixins' as mxn;

.videoHorizontal {
  display: flex;
  user-select: none;
  cursor: pointer;

  #{&}__video {
    position: relative;
    margin-right: 0.5em;
    width: 142px;
    height: 80px;
    &.search {
      min-width: 25vw;
      min-height: 14vw;
      @include mxn.mq(var.$bp-768, var.$bp-992) {
        min-width: 35vw;
        min-height: 20vw;
      }
      @include mxn.mq(var.$bp-0, var.$bp-768) {
        min-width: 40vw;
        min-height: 22vw;
      }
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    span {
      position: absolute;
      z-index: 10;
      bottom: 5px;
      right: 5px;
      font-size: 0.85rem;
      background: rgba($color: #000000, $alpha: 0.75);
      color: white;
      font-weight: 700;
      padding: 0.2em 0.3em 0.3em;
      border-radius: 3px;
    }
  }
  #{&}__title {
    font-size: 0.9rem;
    font-weight: 600;
    width: 190px;
    letter-spacing: -0.5px;
    word-wrap: break-word;
    &.search--title {
      width: 60ch;
      font-size: 1.1rem;
      @include mxn.mq(var.$bp-0, var.$bp-1200) {
        width: 100%;
      }
      @include mxn.mq(var.$bp-768, var.$bp-992) {
        font-size: 1rem;
      }
      @include mxn.mq(var.$bp-450, var.$bp-768) {
        font-size: 0.95rem;
      }
      @include mxn.mq(var.$bp-0, var.$bp-450) {
        font-size: 0.85rem;
      }
    }
  }
  #{&}__channel {
    display: flex;
    align-items: center;

    &.search--channel {
      margin: 0.8em 0;
      @include mxn.mq(var.$bp-450, var.$bp-768) {
        margin: 0.4em 0;
      }
      @include mxn.mq(var.$bp-0, var.$bp-450) {
        margin: 0.2em 0;
      }
    }

    & > * + * {
      margin-left: 0.2em;
    }

    p {
      color: gray;
      font-size: 0.9rem;
      font-weight: 500;
      @include mxn.mq(var.$bp-0, var.$bp-450) {
        font-size: 0.85rem;
      }
    }

    img {
      @include mxn.mq(var.$bp-0, var.$bp-600) {
        display: none;
      }
    }
  }

  #{&}__stats,
  #{&}__description {
    display: flex;
    font-size: 0.85rem;
    color: gray;
    & > * + * {
      margin-left: 0.25em;
    }
  }
  #{&}__description {
    margin-top: 0.8em;
    @include mxn.mq(var.$bp-0, var.$bp-768) {
      display: none;
    }
  }
}
