@use './mixins' as mxn;

.video {
  border: 1px solid;
  width: 296px;
  display: flex;
  flex-direction: column;
  #{&}__image {
    aspect-ratio: 16 / 10;
  }
  #{&}__info {
    display: flex;
    padding: 0.5em;
  }
  #{&}__avatar {
    margin-right: 0.5em;
  }
  #{&}__desc {
    h3 {
      font-weight: 500;
      font-size: 1rem;
      margin-bottom: 0.2em;
    }
    p {
      font-size: 0.85rem;
      font-weight: 500;
      color: rgba($color: #000000, $alpha: 0.65);
      span {
        &:first-of-type::after {
          content: "•";
          margin: 0 4px;
        }
      }
    }
  }
}
