@use './colors' as clr;
@use './variables' as var;
@use './mixins' as mxn;

.watchscreen {
  padding: var.$main-padding;
  @include mxn.layout;
  flex-direction: row;

  @include mxn.mq(var.$bp-0, var.$bp-1200) {
    flex-direction: column;
  }
  @include mxn.mq(var.$bp-450, var.$bp-600) {
    padding: 1em;
  }
  @include mxn.mq(var.$bp-0, var.$bp-450) {
    padding: 0.5em;
  }

  // Gap between the flex-items
  & > * + * {
    margin-left: 1.5em;

    @include mxn.mq(var.$bp-0, var.$bp-1200) {
      margin-left: 0;
      margin-top: 1.5em;
    }
  }

  #{&}__left {
    flex: 0.7;
  }
  #{&}__player {
    background-color: #353946;
    height: 30vw;
    @include mxn.mq(var.$bp-992, var.$bp-1200) {
      height: 40vw;
    }
    @include mxn.mq(var.$bp-450, var.$bp-992) {
      height: 50vw;
    }
    @include mxn.mq(var.$bp-0, var.$bp-450) {
      height: 55vw;
    }
  }
  #{&}__right {
    flex: 0.3;
    & > * + * {
      margin-top: 0.8em;
    }
  }
}
