@use './colors' as clr;
@use './variables' as var;
@use './mixins' as mxn;

.watchscreen {
  padding: var.$main-padding;
  @include mxn.layout;
  flex-direction: row;

  // Gap between the flex-items
  & > * + * {
    margin-left: 1.5em;
  }

  #{&}__left {
    flex: 0.7;
  }
  #{&}__player {
    background-color: #353946;
    height: 70vh;
  }
  #{&}__right {
    flex: 0.3;
    & > * + * {
      margin-top: 0.8em;
    }
  }
}
