.videoHorizontal {
  display: flex;
  user-select: none;
  cursor: pointer;
}
.videoHorizontal .videoHorizontal__video {
  position: relative;
  margin-right: 0.5em;
  width: 142px;
  height: 80px;
}
.videoHorizontal .videoHorizontal__video.search {
  min-width: 25vw;
  min-height: 14vw;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .videoHorizontal .videoHorizontal__video.search {
    min-width: 35vw;
    min-height: 20vw;
  }
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  .videoHorizontal .videoHorizontal__video.search {
    min-width: 40vw;
    min-height: 22vw;
  }
}
.videoHorizontal .videoHorizontal__video img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.videoHorizontal .videoHorizontal__video span {
  position: absolute;
  z-index: 10;
  bottom: 5px;
  right: 5px;
  font-size: 0.85rem;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  font-weight: 700;
  padding: 0.2em 0.3em 0.3em;
  border-radius: 3px;
}
.videoHorizontal .videoHorizontal__title {
  font-size: 0.9rem;
  font-weight: 600;
  width: 190px;
  letter-spacing: -0.5px;
  word-wrap: break-word;
}
.videoHorizontal .videoHorizontal__title.search--title {
  width: 60ch;
  font-size: 1.1rem;
}
@media screen and (min-width: 0px) and (max-width: 1200px) {
  .videoHorizontal .videoHorizontal__title.search--title {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .videoHorizontal .videoHorizontal__title.search--title {
    font-size: 1rem;
  }
}
@media screen and (min-width: 450px) and (max-width: 768px) {
  .videoHorizontal .videoHorizontal__title.search--title {
    font-size: 0.95rem;
  }
}
@media screen and (min-width: 0px) and (max-width: 450px) {
  .videoHorizontal .videoHorizontal__title.search--title {
    font-size: 0.85rem;
  }
}
.videoHorizontal .videoHorizontal__channel {
  display: flex;
  align-items: center;
}
.videoHorizontal .videoHorizontal__channel.search--channel {
  margin: 0.8em 0;
}
@media screen and (min-width: 450px) and (max-width: 768px) {
  .videoHorizontal .videoHorizontal__channel.search--channel {
    margin: 0.4em 0;
  }
}
@media screen and (min-width: 0px) and (max-width: 450px) {
  .videoHorizontal .videoHorizontal__channel.search--channel {
    margin: 0.2em 0;
  }
}
.videoHorizontal .videoHorizontal__channel > * + * {
  margin-left: 0.2em;
}
.videoHorizontal .videoHorizontal__channel p {
  color: gray;
  font-size: 0.9rem;
  font-weight: 500;
}
@media screen and (min-width: 0px) and (max-width: 450px) {
  .videoHorizontal .videoHorizontal__channel p {
    font-size: 0.85rem;
  }
}
@media screen and (min-width: 0px) and (max-width: 600px) {
  .videoHorizontal .videoHorizontal__channel img {
    display: none;
  }
}
.videoHorizontal .videoHorizontal__stats,
.videoHorizontal .videoHorizontal__description {
  display: flex;
  font-size: 0.85rem;
  color: gray;
}
.videoHorizontal .videoHorizontal__stats > * + *,
.videoHorizontal .videoHorizontal__description > * + * {
  margin-left: 0.25em;
}
.videoHorizontal .videoHorizontal__description {
  margin-top: 0.8em;
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  .videoHorizontal .videoHorizontal__description {
    display: none;
  }
}

/*# sourceMappingURL=VideoHorizontal.css.map */
